/*General*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/*Header*/
.jumbotron {
  text-align: center;
  background-color: rgb(198, 198, 198);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

/*Main section*/

/*Time blocks*/

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
  font-size: larger;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin-top: .5em;
  margin-bottom: .5em;
}

.form-control {
  border: solid rgb(112, 108, 108);
}

/*Save buttons*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  background-image: url("../images/floppy-disk-solid.svg");
  background-repeat: no-repeat;
  background-size: 2em 2em;
  background-position: .5em;
  height: 5em;
  width: 3.5em;
}

.saveBtn:hover {
  transition: all .1s ease-in-out;
  background-color: #60d6f1;
}

.saveBtn:focus {
  animation-name: buttonAnimation;
  animation-duration: 3s;
}

@keyframes buttonAnimation {
  0% {background-color: #02ff38;}
  85% {background-color: #06AED5;}
}


/*Time dependant styling*/
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}